name: Release

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ vars.TURBO_TEAM }}

jobs:
  Release:
    runs-on: ubuntu-latest
    timeout-minutes: 9

    steps:
      - uses: actions/checkout@v5.0.1
      - uses: ./.github/actions/setup
      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1.5.3
        with:
          # This expects you to have a script called release which does a build for your packages and calls changeset publish
          publish: bun release
          version: ./version.sh
        env:
          GITHUB_TOKEN: ${{ secrets.CHANGESETS_GITHUB_PAT }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
