name: Test

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ vars.TURBO_TEAM }}

defaults:
  run:
    shell: bash

jobs:
  Vitest:
    runs-on: ubuntu-latest
    timeout-minutes: 9
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: ./.github/actions/setup
      - run: bun run test

  Build:
    runs-on: ubuntu-latest
    timeout-minutes: 9
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: ./.github/actions/setup
      - run: bun run build

  Coverage:
    runs-on: ubuntu-latest
    timeout-minutes: 9
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: ./.github/actions/setup
      - run: git rev-parse HEAD > git.sha
      - run: bun test:coverage:increased

  BreakCheck:
    name: Break Check
    runs-on: ubuntu-latest
    timeout-minutes: 9
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: ./.github/actions/setup
      - run: bun test:semver
